@use 'variaveis';

.carousel{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5vw;
    background: linear-gradient(rgb(1, 4, 8),rgb(5, 18, 34),rgb(27, 52, 80));

    h2{
        text-align: center;
        margin-top: 10vh;
        font-weight: 100;
        font-size: 56px;
        color:variaveis.$corTextoPrincipal;

        @media (max-width: 768px){
            font-size: 4vh;
        }
    }

    &__wrapper{
        padding-bottom: 40px;
        
        &__list{
            &__item{
                background-color:variaveis.$corTextoPrincipal;
                padding-bottom: 20px;
                border: 2px solid transparent;
                transition: 0.5s ease;
                text-align: center;
                user-select: none;

                h3{
                    text-align: center;
                    font-size: 15px;
                }

                &:hover{
                    border-color: variaveis.$corBorda;
                }

                &__card{
                    margin-bottom: 10px;
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                .material-symbols-outlined{
                    margin-top: 10px;
                }

                    button{
                        height: 35px;
                        width: 35px;
                        color:variaveis.$corBorda;
                        border-radius: 50%;
                        margin: 15px 5px;
                        border: 2px solid variaveis.$corBorda;
                        cursor: pointer;
                        transform: rotate(-45deg);
                        transition: 0.5s ease;

                        &:hover{
                            background-color:variaveis.$corBorda;
                            color:variaveis.$corTextoPrincipal;
                        }
                    }
                
            }
        }
    }
}