@use 'variaveis';

.header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.40);
    padding: 0 3vw;

    &__content{
        padding: 2vh 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: 36px;
        }
    }

    &__links{
        display: flex;

        &__item{
            width: 100%;
            
            a{
                padding: 0 20px;
    
                &:hover{
                    border-bottom: solid 2px variaveis.$corTextoPrincipal;
                }
            }
        }
    
    }
}
