@use 'variaveis';

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(/dist/images/secao1_wallpaper.png);
    background-size: cover;
    background-position: center;

    &__content{
        padding: 0 3vw;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
            "  .       .       .   "
            "left      .     right "
            "bottom  bottom  bottom"
        ;
        margin: 0;
        max-width: 100%;
        height: 100vh;

        &__left{
            grid-area: left;
            display: flex;
            align-items: center;
            justify-content: left;
            img{
                height: 150px;
            }
        }

        &__right{
            grid-area: right;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            &__info1{
                text-align: right;
                margin-bottom: 30px;
            }

            &__info2{
                margin-bottom: 30px;

                img{
                    height: 36px;
                }
            }

            &__button{
                button{
                    padding: 15px 25px;
                    font-size: 32px;
                    color: variaveis.$corTextoPrincipal;
                    border: 3px solid variaveis.$corTextoPrincipal;
                    background: none;
                    cursor: pointer;
                    transition: 0.5s;

                    &:hover{
                        background-color: #921818;
                        transform: scale(1.05);
                    }
                }
            }
        }

        &__bottom{
            grid-area: bottom;
            display: flex;
            align-items: end;
            justify-content: center;

            img{
                height: 45px;
                margin-bottom: 5vh;
                padding: 0 5vw;
            }

            .emmy{
                height: 96px;
                margin-bottom: 3vh;
            }
        }
    }
}