@use 'variaveis';
@use 'hero';
@use 'header';
@use 'trailer';
@use 'about';
@use 'carousel';
@use 'lol';
@use 'contact';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", system-ui;
}

body{
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 18px) {
    font-size: $fontSize;
    line-height: #{$fontSize + 10px};
    color: variaveis.$corTextoPrincipal;
    text-decoration: none;
}

.text--small {
    @include text(16px);

    @media (max-width:768px){
        @include text(14px)
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        @include text(15px)
    }
}

.text {
    @include text();

    @media (max-width:768px){
        @include text(16px)
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        @include text(17px)
    }
}

.text--big {
    @include text(32px);
    
    @media (max-width:768px){
        @include text(30px)
    }

    @media (max-width:768px){
        @include text(31px)
    }
}


@mixin title($fontSize: 40px) {
    @include text ($fontSize);
    font-size: $fontSize;
    color: variaveis.$corTextoPrincipal;
}

.title {
    @include title();

    @media (max-width:768px){
        @include title(38px)
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        @include title(39px)
    }
}

.title--big {
    @include title(72px);

    @media (max-width:768px){
        @include title(70px)
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        @include title(71px)
    }
}

.button{
    padding: 15px 25px;
    font-size: 32px;
    color: variaveis.$corTextoPrincipal;
    border: 2px solid variaveis.$corTextoPrincipal;
    background: variaveis.$corBotao;
    cursor: pointer;
    transition: 0.5s;

    &:hover{
        background-color: lighten(variaveis.$corBotao, 5%);
    }

    @media (max-width:768px){
        font-size: 20px;
        width: 90vw;
        margin-bottom: 3vh;
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        font-size: 25px;
        width: 60vw;
    }
}