@use 'variaveis';
@use 'hero';
@use 'header';
@use 'trailer';
@use 'about';
@use 'carousel';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", system-ui;
}

body{
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 18px) {
    font-size: $fontSize;
    line-height: #{$fontSize + 10px};
    color: variaveis.$corTextoPrincipal;
    text-decoration: none;
}

.text--small {
    @include text(16px);
}

.text {
    @include text();
}

.text--big {
    @include text(32px);
}


@mixin title($fontSize: 40px) {
    @include text ($fontSize);
    font-size: $fontSize;
    color: variaveis.$corTextoPrincipal;
}

.title {
    @include title();
}

.title--small {
    @include title(28px);
}

.title--big {
    @include title(72px);
}

.button{
    padding: 15px 25px;
    font-size: 32px;
    color: variaveis.$corTextoPrincipal;
    border: 2px solid variaveis.$corTextoPrincipal;
    background: variaveis.$corBotao;
    cursor: pointer;
    transition: 0.5s;

    &:hover{
        background-color: lighten(variaveis.$corBotao, 5%);
    }
}