.trailer{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
    &__clip{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    &__container{
        z-index: 1;
        display: flex;
        text-align: left;

        &__content{
            display: flex;
            align-items: center;

            &__left{
                padding: 0 25px;
                display: flex;
                flex-direction: column;
                text-shadow: 3px 3px 5px rgb(8, 8, 8);
            }
    
            
            &__right{
                padding: 0 25px;
                display: flex;
                
                iframe{
                    box-shadow: 10px 10px 5px rgb(14, 14, 14);
                    transition: 0.5s;
                    width:600px;
                    height:355px;

                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
    
        }

    }


}