.trailer{
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100vh;
    background-image: url('');

    
    &__clip{
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    &__container{
        display: flex;

        &__content{
            display: flex;
            align-items: center;

            &__left{
                padding: 0 25px;
                display: flex;
                flex-direction: column;
                text-shadow: 3px 3px 5px rgb(8, 8, 8);
            }
    
            
            &__right{
                padding: 0 25px;
                display: flex;
                
                iframe{
                    box-shadow: 10px 10px 5px rgb(14, 14, 14);
                    transition: 0.5s;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
    
        }

    }


}

